xgtf_to_excel/result.xlsx
gui-for-tester-tracker/save_state_pyqt.py
gui-for-tester-tracker/gui_for_tester_tracker
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WintreistsPractice.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
result.xlsx