/* Тут будут стили для красивости */

/* QGroupBox {
    padding: 0;
    background-color: purple;
} */
/* QGroupBox#groupBox, QGroupBox#groupBox_2 {

} */
/* QScrollArea {
    margin: 0;
} */

/* QLabel {
    margin: 0;
    background-color: chocolate;
} */
