/* Тут будут стили для красивости */


/* Дизайны для QMainWindow */
QMainWindow {
    background-color: #22223b;
}
/* Дизайны для QLabel */
QLabel{
    color: #F2E9E4;
}
QGroupBox > QLabel{
    font-size: 25px;
}
/* Дизайны для QPushButton */
QPushButton{
    background-color: #C9ADA7;
}
/* Дизайны для QScrollArea */
QScrollArea > QWidget > QWidget{
    background-color: #22223b;
}
QScrollArea > QWidget > QScrollBar{
    background-color: #C9ADA7;
}
QScrollArea{
    border: none;
}
/* Дизайны для QGroupBox */
QScrollArea QGroupBox {
    border: 2px solid black;
}
/* Дизайны для Объектов */
QScrollArea QWidget QGroupBox, QScrollArea QWidget QLabel{
    background-color: #9A8C98;
}